.header {
  display: flex;
  padding: 10px;
  font-size: 20px;
  font-weight: 700;
  border: 1px solid #799eac;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #b3e8fc;
  color: #1e2325;
}

.header-title {
  margin-right: 20px;
}

.header-users-count-wrapper {
  margin-right: 20px;
}

.header-messages-count-wrapper {
  margin-right: 10px;
}

.header-last-message-date-wrapper {
  margin-left: auto;
}
