.user-editor-wrapper {
  max-width: 500px;
  margin: 0 auto;
  padding-top: 10px;
  position: relative;
  overflow: hidden;
}

.user-editor-title {
  font-size: 26px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: 700;
}

.editor-input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.editor-input-label {
  font-weight: 700;
  margin-bottom: 5px;
}

.admin-edit-actions-wrapper{
  display: flex;
  gap: 10px;
}

.admin-save-button {
  width: 50%;
  padding: 10px;
  border: 1px solid #696969;
  background-color: #67bbda;
  border-radius: 5px;
}

.admin-save-button:hover {
  background-color: #4aa7c9;
}

.admin-cancel-button{
  width: 50%;
  padding: 10px;
  border: 1px solid #696969;
  background-color: #dddddd;
  border-radius: 5px;
  text-align: center;
}

.admin-cancel-button:hover{
  background-color: #bbbbbb;
}