.message-editor {
  max-width: 500px;
  margin: 0 auto;
  position: relative;
}

.message-editor-title {
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  margin-bottom: 10px;
}

.message-editor-input {
  width: 100%;
  height: 85px;
  resize: none;
  border-radius: 3px;
  border: 1px solid #799eac;
  margin-bottom: 20px;
  margin-bottom: 10px;
}

.message-editor-input:focus-visible {
  outline: 2px solid #799eac;
  outline-offset: -1px;
}

.message-editor-btn-wrapper {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.message-editor-btn {
  padding: 7px 10px;
  background-color: #ccc9c9;
  border-radius: 5px;
}

.message-editor-btn:hover {
  background-color: #9b9b9b;
}

.message-editor-btn.message-editor-save {
  background-color: #67bbda;
}

.message-editor-btn.message-editor-save:hover {
  background-color: #5497af;
}
