.user-wrapper{
    display: flex;
    font-size: 20px;
    padding: 10px;
    align-items: center;
    border: 1px solid #696969;
    margin-bottom: 10px;
    border-radius: 5px;
}

.user-name{
    flex: 1 1 auto;
}

.admin-action-btn{
    padding: 7px 15px;
    border: 1px solid #696969;
    border-radius: 5px;
}

.admin-action-btn:hover{
    background-color: #b4b4b4;
}

.admin-action-edit{
    background-color: #78c2dd;
}

.admin-action-edit:hover{
    background-color: #5394ac;
}

.admin-action-btn:disabled{
   opacity: 0.5;
}

.admin-action-btn + .admin-action-btn{
    margin-left: 10px;
}