* {
  box-sizing: border-box;
}

.App {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 20px;
}

.app-header {
  display: flex;
  margin-bottom: 20px;
}

.link {
  font-size: 20px;
  padding: 5px 15px;
  border-bottom: 2px solid #696969;
}

.link:hover{
  background-color: #b3e8fc83;
}

.link.active {
  background-color: #b3e8fccb;
}

.link + .link {
  margin-left: 10px;
}

.link + .link.logout {
  margin-left: auto;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  display: inline-block;
}

button {
  cursor: pointer;
  padding: 0;
  border: none;
  background-color: transparent;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
}

input,
textarea {
  color: inherit;
  font-size: inherit;
  font-family: inherit;
}

select {
  color: inherit;
  font-size: inherit;
  font-family: inherit;
}
