.login-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 20px);
}

.form-container{
    width: 300px;
    padding: 20px;
    border: 1px solid #858484;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}

.login-title{
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
}

.input-container{
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.input-label{
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 5px;
}

.login-submit{
    width: 100%;
    padding: 7px;
    background-color: #ccc9c9;
}

.login-submit:hover{
    background-color: #9b9b9b;
}