.users-list-header{
  display: flex;
}

.users-list-title {
  font-size: 26px;
  text-align: center;
  font-weight: 700;
  margin-bottom: 20px;
}

.users-container{
  position: relative;
}

.add-user-wrapper {
  margin-bottom: 15px;
}

.admin-add-user {
  font-size: 20px;
  font-size: 22px;
  padding: 10px 20px;
  border: 1px solid #696969;
  color: white;
  background: #0e6e91;
  border-radius: 5px;
}
