.message-input {
  display: flex;
  flex: 0 0 80px;
  padding: 0 10px;
  align-items: center;
  position: relative;
}

.message-input-text {
  flex: 1 1 auto;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  height: 75px;
  resize: none;
  margin-right: 20px;
  border-radius: 2px;
  border: 1px solid #799eac;
}

.message-input-text:focus-visible{
  outline: 2px solid #799eac;
  outline-offset: -1px;
}

.button-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

.message-input-button,
.message-unset-edit-message {
  padding: 5px 15px 7px;
  border-radius: 5px;
}

.message-input-button{
  background: #b3e8fc;
}

.message-unset-edit-message{
  background: #dddcdc;
}

.sendArrow, .unsetCross {
  height: 12px;
  margin-right: 5px;
}
